/* 
    Document   : PremierGalop
    Created on : 11 juil. 2012, 19:46:31
    Author     : CFC
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background: #e4f5fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 20%, #9fd8ef 54%, #2ab0ed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(20%,#bfe8f9), color-stop(54%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 20%,#9fd8ef 54%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 20%,#9fd8ef 54%,#2ab0ed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 20%,#9fd8ef 54%,#2ab0ed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4f5fc 0%,#bfe8f9 20%,#9fd8ef 54%,#2ab0ed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}

span.board {
    float : left;
}

span.info {
    float : left;
}

span.board > * {
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

/*@media (max-height: 800px) {
    div.board {
        font-size: 40px;
    }
}

@media (max-height: 500px) {
    div.board {
        font-size: 20px;
    }
}*/

div.box  {
    height : 30%;
    background-color: chocolate;
}

div.Dcell , div.cell, div.ladder, div.goal  {
/*    height: 6%;*/
    font-size: 100%;
    border-radius: 60%;
    border-right-style: none;
}

div.Dcell  {
    background-color: darkorange;
}

div.Dcell:after {
   content: "D";
}

div.cell {
    background-color: forestgreen; 
}

div.ladder  {
    background-color: blueviolet;
    border-radius: 15%;
}

div.goal  {
    background-color: red;
}

img.horse {
/*    height : 6%;*/
    position: relative;
/*    border-spacing: 10px 10px;*/
}

div.player0 {
    background-color: gold;
    color : black;
}

div.player1 {
    background-color: darkgreen;
    color : white;
}

div.player2 {
    background-color: darkred;
    color : white;
}

div.player3 {
    background-color: darkblue;
    color : white;
}

div.hovered {
    background-color: cyan;/*  !important;*/
}

div.dievalue:after {
    content : 'dé: 'attr(data-dievalue);
}